body {
  margin: 0;
}

#jl {
  background-image: url("https://www.bbgu.edu.cn/images/top_bg.jpg");
  height: 100px;
}
#log {
  height: 10px;
  width: 10px;
}
#lkw {
  width: 100%;
  height: auto;
  background-color: #168eda;
}
